*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.list{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}
.list li{
    list-style: none;
}
.link{
    text-decoration: none;
    color: black;
}